<div>

<div style="width:25%; height: 100%; float:left; background:#F6F6F6; padding:10px">
  <%= render 'form', invite: @invite %>
</div>

<div style="width:75%; float:left; padding:20px; background:#EDEDED;">
  <div style="background:<%= @invite.font_color %>">COLOR</div>
  <div style="background: #FFF;">
    <div style="width:100%; height:50vh; background-size:cover; background-position:center; background-image: url(<%= @invite.header_image.url(:cover) %>);">
    <h1 style="color: <%= @invite.font_color %>; text-align:center; padding-top:20vh; font-family:<%= @invite.font_family %>;"><%= @invite.header_title %></h1>
    <h4 style="color: <%= @invite.font_color %>; text-align:center;">IS GETTING MARRIED <%= @invite.wedding_date %></h4>
    </div>

    <div style="width:100%; height:50vh;">
    <h2 style="text-align:center; padding-top:10vh; font-family:<%= @invite.font_family %>;"><%= @invite.about_title; %></h2>
    <p style="text-align:center;">
      <%= @invite.about_description; %>
    </p>
    </div>
  </div>
</div>

</div>
